<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="RESTAssured API Suite" verbose="1">

<!--    <listeners>-->
<!--        <listener class-name="API.listeners.TestListeners"/>-->
<!--    </listeners>-->

    <test name="User API Tests">
        <classes>
            <class name="ToolShopAPITests.UserAPITest"/>
        </classes>
    </test>
    <test name="Product API Test">
        <classes>
            <class name="ToolShopAPITests.ProductAPITest"/>
        </classes>
    </test>
    <test name="Brand API Test">
        <classes>
            <class name="ToolShopAPITests.BrandAPITest"/>
        </classes>
    </test>

</suite>